#output_window{
    width:100%;
}
input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover {
    cursor: inherit;
}
#output_text{
    margin-top:2px;
    font-family: "Lucida Console","Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono",monospace;
    font-size:15px;
    background:white;
    color:#4a4747;
    min-height:130px;
    padding:20px 10px 0 10px;
}

.messages .message .avatar{
    display:none;
}

#question_box{
    height: 120px;
    margin-top:2px;
    background:white;
    padding:20px 10px 0 10px;
    overflow: scroll;
}

.modal-backdrop{
    background-color: white;
    opacity:0.9 !important;
}


#loading_modal .modal-content {
    background: none;
    box-shadow: none;
    border: none;
}


li.message.left.appeared > div.text_wrapper{
    background: #dadada;
}

.messages .message.left .text {
    color: #5d5b5b;
    
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    border-right-color: #dadada;
}

.messages .message.right .text_wrapper {
     background: #8692b5;
}

.messages .message.right .text_wrapper .text {
    color: white;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    border-left-color: #8692b5;
}


.bottom_wrapper .send_message{
    background-color: #FF5454;
    border: 2px solid #FF5454;
    color: #fff;
}

.bottom_wrapper .send_message:hover {
  color: #FF5454;
  background-color: #fff;
}
.main_header{
    font-family: Verdana,Geneva,sans-serif;
	font-size: 29px;
    color: #575b5b;
    margin-bottom: 0px;
    margin-top: 1%;
}

/* login box */


.login_box{
    height:47vh;
}
    
.login_form .form-group{
    margin-bottom: 0px;
}
.login_form .form-group input {
    border-radius: 0px;
    padding: 10px 25px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: unset;
}

.login_button{
    margin-top:30px;
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #34b3a0;
    border: 2px solid #34b3a0;
    color: #fff;
}

.login_message{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding-bottom: 6px;
}

.footer{
    background:#575b5b;
    padding: 20px;
    color:white;
}


/* error messages in forms */
.error_message{
    color:crimson;
}
#user_dropdown{
    float:right;
    margin-top:1%;
    margin-bottom:20px;
}
#dropdown_button{
    background: white;
    border: none;
    box-shadow: none;
    color: #337ab7;
}
input[type="submit"].disabled, input[type="checkbox"].disabled,input[type="radio"].disabled{
  cursor:default;
}
label{
    font-weight: 100;
}
